html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    /* border: #222 solid 15px; */
    border-radius: 10px;
}

.grid-block {
    border: #000 dotted 0.1px;
    display: inline-block;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 60vw;

}